# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts



 <Popover>
<PopoverTrigger asChild>
    {children}
</PopoverTrigger>
<PopoverContent className="w-full h-full flex justify-center items-center bg-red-200">
<Form {...form}>
   <form>
   <FormField
  control={form.control}
  name="firstName"
  render={({ field }) => (
    <FormItem>
      <FormLabel>Nombre</FormLabel>
      <FormControl>
        <input placeholder="Juan" {...field} />
      </FormControl>
    </FormItem>
  )}/>

<FormField
 control={form.control}
 name="lastName"
 render={({ field }) => (
    <FormItem>
        <FormLabel>Apellido</FormLabel>
        <FormControl>
        <input placeholder="Perez" {...field} />
      </FormControl>
    </FormItem>
 )}
/>

<FormField
 control={form.control}
 name="coverLetter"
 render={({ field }) => (
    <FormItem>
        <FormLabel>Carta de Presentacion (opcional)</FormLabel>
        <FormControl>
        <Textarea placeholder="escribe tu mensaje aqui."  {...field}/>
      </FormControl>
    </FormItem>
 )}
/>

<button type="submit">Submit</button>
   </form>
</Form>
</PopoverContent>
 </Popover>