@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "helvetica Neue LT Std";
  src: url("../../public/fonts/Helvetica_Neue_LT_Std.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../public/fonts/ppneuemontreal-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../public/fonts/ppneuemontreal-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../public/fonts/ppneuemontreal-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../../public/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --mainBackground: rgb(245, 240, 233);
  --navbarPrimaryColor: #fff;
  --bannerPrimaryBackground: #000;
  --bannerSecondaryBackground: #002c59;
  --btnPrimaryBackground: #002c59;
  --btnSecondaryBackground: #fdcb5a;
  --headerPrimaryColor: #555555;
  --headerSecondaryColor: #828282;
  --footer-gray: #b7b7b7;
  --input-color-gray: #D7D7D7;
  --footer-gray-s: #bababa;
  --headertheirdColor: #262626;
  --sectionSecondaryColor: #000000;
  --sectionAboutUs: #060606;
  --cardPrimaryColor: #001e41;
  --cardSecondaryColor: #d9d9d9;
  --cardTheirdColor: #0054a0;
  --footerPrimaryBackground: #001129;
  --font-neue: "PP Neue Montreal", sans-serif;
  --ff-secondary: "helvetica Neue LT Std", sans-serif;
  --ff-tiertary: "Manrope", sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--cardPrimaryColor);
  --color-card-2: var(--cardSecondaryColor);
  --color-card-3: var(--cardTheirdColor);
  --color-footer: var(--footerPrimaryBackground);
  --color-gray-1: var(--footer-gray);
  --color-gray-2: var(--footer-gray-s);
  --color-gray-3: var(--headerPrimaryColor);
  --color-gray-4: var(--input-color-gray);
  --color-divider: var(--headerPrimaryColor);
  --font-main: var(--font-neue);
  --font-s: var(--ff-secondary);
  --font-t: var(--ff-tiertary);
  --color-main: var(--mainBackground);
  --color-btn-primary: var(--btnPrimaryBackground);
  --color-btn-secondary: var(--btnSecondaryBackground);
  --color-aboutUs: var(--sectionAboutUs);
  --color-help: var(--bannerSecondaryBackground);
  --color-contact: var(--btnPrimaryBackground);
  --color-banner-2: var(--footerPrimaryBackground);
  --color-yellow-1: var(--btnSecondaryBackground);
  --color-blue-1: var(--btnPrimaryBackground);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  overflow-x: auto;

  &::before {
    background: linear-gradient(
      to right,
      rgba(245, 240, 233) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 140px;
    width: 130px;
    position: absolute;
    left: 0;
    z-index: 2;
  }

  &::after {
    background: linear-gradient(
      to right,
      rgba(245, 240, 233) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 140px;
    width: 130px;
    position: absolute;
    rotate: 180deg;
    right: 0;
    z-index: 2;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 45s infinite linear;
  gap: 3rem;
  padding-right: 3rem;
}

.cards {
  height: 140px;
  width: 140px;
  min-height: 100px;
  min-width: 120px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.work-layout {
  background-color: none;
  cursor: none;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 240px;
  gap: 8px;
  grid-template-areas:
    "box-1 box-1 box-1 box-1 box-2 box-2"
    "box-1 box-1 box-1 box-1 box-2 box-2"
    "box-3 box-3 box-3 box-3 box-3 box-3"
    "box-3 box-3 box-3 box-3 box-3 box-3"
    "box-4 box-4 box-5 box-5 box-6 box-6";
}

@media (max-width: 1230px) {
  .work-layout {
    grid-auto-rows: 180px;
    grid-template-areas:
      "box-1 box-1 box-1 "
      "box-1 box-1 box-1"
      "box-2 box-2 box-2 "
      "box-2 box-2 box-2 "
      "box-3 box-3 box-3 "
      "box-3 box-3 box-3 "
      "box-4 box-4 box-4 "
      "box-4 box-4 box-4 "
      "box-5 box-5 box-5 "
      "box-5 box-5 box-5 "
      "box-6 box-6 box-6 "
      "box-6 box-6 box-6 ";
  }
}

@media (max-width: 500px) {
  .work-layout {
    grid-auto-rows: 130px;
    grid-template-areas:
      "box-1 box-1 box-1 "
      "box-1 box-1 box-1"
      "box-2 box-2 box-2 "
      "box-2 box-2 box-2 "
      "box-3 box-3 box-3 "
      "box-3 box-3 box-3 "
      "box-4 box-4 box-4 "
      "box-4 box-4 box-4 "
      "box-5 box-5 box-5 "
      "box-5 box-5 box-5 "
      "box-6 box-6 box-6 "
      "box-6 box-6 box-6 ";
  }
}

@keyframes slide {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input {
  content: "";
  width: 24px;
  height: 3px;
  background: white;
  transform-origin: right center;
  transition: ease-out opacity 300ms, width ease-out 300ms,
    rotate ease-out 300ms;
  z-index: 10;
}

.hamburger-menu input {
  background-color: white;
  pointer-events: none;
  appearance: none;
  padding: 0;
  outline: none;
  margin: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: -45deg;
}

.hamburger-menu input:checked {
  opacity: 0;
}

.hamburger-menu:has(input:checked)::after {
  rotate: 45deg;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.8s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.8s ease-out;
  }
}
