@import "tailwindcss";



@font-face{
  font-family: 'helvetica Neue LT Std';
  src:url('../../public/fonts/Helvetica_Neue_LT_Std.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face{
  font-family: 'PP Neue Montreal';
  src:url('/fonts/ppneuemontreal-medium.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'PP Neue Montreal';
  src:url('/fonts/ppneuemontreal-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


@font-face{
  font-family: 'PP Neue Montreal';
  src:url('/fonts/ppneuemontreal-book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@font-face{
  font-family: 'Manrope';
  src:url('/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --mainBackground:#F5F0E9;
  --navbarPrimaryColor: #fff;
  --bannerPrimaryBackground: #000;
  --bannerSecondaryBackground: #002C59;
  --btnPrimaryBackground: #002C59;
  --btnSecondaryBackground: #FDCB5A;
  --headerPrimaryColor: #555555;
  --headerSecondaryColor : #828282;
  --headertheirdColor : #262626;
  --sectionSecondaryColor: #000000;
  --cardPrimaryColor: #001E41;
  --cardSecondaryColor: #D9D9D9;
  --cardTheirdColor: #0054A0;
  --footerPrimaryBackground: #001129;
  --foreground: #171717;
  --font-neue: "PP Neue Montreal", sans-serif;
  --ff-secondary: "helvetica Neue LT Std", sans-serif;
  --ff-tiertary: "Manrope", sans-serif;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-divider: var(--headerPrimaryColor);
  --font-main: var(--font-neue);
  --font-s: var(--ff-secondary);
  --font-t: var(--ff-tiertary);
  --color-main: var(--mainBackground);
  --color-btn-secondary: var(--btnSecondaryBackground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}


.carousel{

  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 45s infinite linear;
  gap:3rem;
  padding-right: 3rem;
}

.cards {
  height: 160px;
  width: 200px;
  min-height: 100px;
  min-width: 120px;
  text-align: center;
  align-content: center;
  justify-content: center;
}


.work-layout {
  cursor:alias;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows:300px;
  gap: 8px;
  grid-template-areas:  
  "box-1 box-1 box-1 box-1 box-2 box-2" 
  "box-1 box-1 box-1 box-1 box-2 box-2"
  "box-3 box-3 box-3 box-3 box-3 box-3"
  "box-3 box-3 box-3 box-3 box-3 box-3"
  "box-4 box-4 box-5 box-5 box-6 box-6" ; 
}
  
@media (max-width: 1230px) {
  .work-layout {
    grid-auto-rows:220px;
    grid-template-areas:  
    "box-1 box-1 box-1 " 
    "box-1 box-1 box-1"
    "box-2 box-2 box-2 "
    "box-2 box-2 box-2 "
    "box-3 box-3 box-3 "
    "box-3 box-3 box-3 "
    "box-4 box-4 box-4 "
    "box-4 box-4 box-4 "
    "box-5 box-5 box-5 "
    "box-5 box-5 box-5 "
    "box-6 box-6 box-6 "
    "box-6 box-6 box-6 " ; 
  }
}

@media (max-width: 500px) {
  .work-layout {
    grid-auto-rows:180px;
    grid-template-areas:  
    "box-1 box-1 box-1 " 
    "box-1 box-1 box-1"
    "box-2 box-2 box-2 "
    "box-2 box-2 box-2 "
    "box-3 box-3 box-3 "
    "box-3 box-3 box-3 "
    "box-4 box-4 box-4 "
    "box-4 box-4 box-4 "
    "box-5 box-5 box-5 "
    "box-5 box-5 box-5 "
    "box-6 box-6 box-6 "
    "box-6 box-6 box-6 " ; 
  }
}


@keyframes slide {
  from {translate: 0;}
  to {translate: -100%;}
}